{% extends 'base.html' %}

{% block cssFiles %}
<link rel="stylesheet" href="../../static/homeStyle.css" />
<link rel="stylesheet" href="../../static/feedPanel.css" />
{% endblock cssFiles %}
{% block title %}teachFeed{% endblock title %}
{% block login %}
<form class="d-flex">
    <a href="/ifeed/tlogout" role="button" class="btn btn-outline-primary m-2 my-sm-0 ">
        Logout </a>

    <a href="/admin" role="button" target="_blank" class="btn btn-outline-primary m-2 my-sm-0 ">
        Admin </a>
</form>
{% endblock login %}
{% block body %}
<div class="container my-3 py-3" id="panel">
    <form action="/ifeed/feedPanel/" method="POST">  {% csrf_token %}
        <div class="pnl" id="t1">
            <label for="teacherName">Teacher's name:</label><br/>
            <select name="teacherName" id="teacherName">
                <option value="" disabled selected hidden>---</option>
                {% for t in teach %}
                <option value="{{t.name}}">{{t.name}}</option>
                {% endfor %}
                <!--<option value="teacher1">Teacher1</option>
                <option value="teacher2">Teacher2</option>-->
            </select>
            <br/><br/>
        </div>
        <div class="pnl" id="p1">
            <label for="branch">Program/ Course:</label><br/>
            <select name="branch" id="branch">
                <option value="" disabled selected hidden>---</option>
                {% for d in dep %}
                <option value="{{d.department}}">{{d.department}}</option>
                {% endfor %}
                <!--<option value="it">IT</option>
                <option value="cse">CSE</option>
                <option value="ece">ECE</option>
                <option value="ce">CE</option>
                <option value="me">ME</option>
                <option value="bca">BCA</option>
                <option value="bcom">B.COM</option>
                <option value="BBA">BBA</option>
                <option value="mba">MBA</option>-->
            </select>
        </div>
        <br/><br/>
        <div class="pnl" id="sub1">
            <label for="subject">Subject:</label><br/>
            <select name="subject" id="subject">
                <option value="" disabled selected hidden>---</option>
                {% for s in sub %}
                <option value="{{s.name}}">{{s.name}}</option>
                {% endfor %}
                <!--<option value="subject1">subject1</option>
                <option value="subject2">subject2</option>-->
            </select>
            <br/><br/>
        </div>
        <div class="pnl" id="sem1">
            <label for="sem">Semester:</label><br/>
            <select name="sem" id="sem">
                <option value="" disabled selected hidden>---</option>
                <option value="1">1st</option>
                <option value="2">2nd</option>
                <option value="3">3rd</option>
                <option value="4">4th</option>
                <option value="5">5th</option>
                <option value="6">6th</option>
                <option value="7">7th</option>
                <option value="8">8th</option>
            </select>
            <br/><br/>
        </div>

        <button type="submit" class="btn btn-primary my-3" id="smt">Submit</button>
    </form>
</div>

<!--Displaying footer here-->
<footer class="footer mt-auto py-3 bg-dark" style=" width: 100%; position: absolute; bottom: 0;">
    <div class="container">
        <span class="text-muted text-light bg-dark">Credits: Lovish {B.Tech (I.T.)} </span>
    </div>
</footer>

{% endblock body %}

{% block jsFile %}{% endblock jsFile %}