{% extends 'base.html' %}

{% block title %}teachFeed{% endblock title %}
{% block login %}
<form class="d-flex">
  <a href="/" role="button" class="btn btn-outline-primary m-2 my-sm-0 " >
    Slogin </a>

  <a href="/admin" role="button" target="_blank" class="btn btn-outline-primary m-2 my-sm-0 " >
    Admin </a>
</form>
{% endblock login %}
{% block body %}

<!--displaying logo here -->

<div class="container" id="indexLogo">
  <a href="https://www.davietjal.org/" target="_blank">
    <img src="../../static/img/davietlogo.png" width="25%" height="25%" />
  </a>
</div>

<!--Displaying form here-->

<div class="container" id="accessCode">
    <form action="/login/" method="post">
      <div class="mb-3">
        <label for="acscode" class="form-label" style="padding-top: 7px;"><h3>Teacher's Login &#128509; </h3></label>
        <input type="password" class="form-control" id="acscode" name="acscode" aria-describedby="acscode">
        <div id="acscode1" class="form-text">Don't share your Access Code with others.</div>
      </div>
      
      {% csrf_token %}
      <button type="submit" class="btn btn-primary" value="OK">Submit</button>
    </form>
  </div>
  
  <!--Displaying footer here-->
  <footer class="footer mt-auto py-3 bg-dark" style=" width: 100%; position: absolute; bottom: 0;">
    <div class="container">
      <span class="text-muted text-light bg-dark">Credits: Lovish {B.Tech (I.T.)} </span>
    </div>
  </footer>
  
{% endblock body %}