{% extends 'base.html' %}

{% block title %}teachFeed{% endblock title %}
{% block login %}
<form class="d-flex">
  <a href="/" role="button" target="_blank" class="btn btn-outline-primary m-2 my-sm-0 " >
    Tlogin </a>

  <a href="/admin" role="button" target="_blank" class="btn btn-outline-primary m-2 my-sm-0 " >
    Admin </a>
</form>
{% endblock login %}
{% block body %}

<!--displaying logo here -->

<div class="container" id="indexLogo">
  <a href="https://www.davietjal.org/" target="_blank">
    <img src="../../static/img/davietlogo.png" width="25%" height="25%" />
  </a>
</div>

<!--Displaying form here-->

<div class="container" id="accessCode">
    <form action="/login/" method="post">
      <div class="mb-3">
        <label for="acscode" class="form-label" style="padding-top: 7px;"><h3>Access Code &#9996; </h3></label>
        <input type="text" class="form-control" id="acscode" name="acscode" aria-describedby="acscode">
        <div id="acscode1" class="form-text">Don't share your Access Code with others.</div>
      </div>
      
      {% csrf_token %}
      <button type="submit" class="btn btn-primary" value="OK">Submit</button>
    </form>
  </div>
  
  
{% endblock body %}